@font-face {
    font-family: "Bangers";
    src: url("./Bangers-Regular.ttf");
}

.flex-col::-webkit-scrollbar, .flex::-webkit-scrollbar {
    height: 5px;
    width: 5px;
} 

.flex-col::-webkit-scrollbar-thumb, .flex::-webkit-scrollbar-thumb {
    background-color: rgba(200, 200, 200, 0.7);
}

#forecast::-webkit-scrollbar {
    width: 0px;
}

* {
    box-sizing: border-box;
    font-family: "Bangers";
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./images/sky-day.webp');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0;
}

button {
    color: black;
}

figure {
    align-items: center;
}

img {
    border-radius: 100%;
    filter: drop-shadow(1px 1px 2px black);
}

#cities-input {
    box-shadow: 0 0 5px black;
    border: 3px solid black;
    margin: 10px;
    padding: 5px;
}

#current-temp {
    font-size: 3em;
    margin: 0;
}

#forecast-today {
    display: flex;
    width: 200px;
    height: 100svh;
    padding: 0;
}

#forecast {
    bottom: 0;
    display: flex;
    overflow: auto;
    height: 40%;
    border: 5px solid black;
    transition: bottom 2s linear;
}

#main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 95svh;
    margin: auto;
}

#search-form {
    margin: 10px;
}

.dark-title {
    background-color: black !important;
    color: white;
}

.hide-label {
    position: absolute;
    top: -999px;
    left: -999px;
}

.hidden {
    display: none !important;
}

.hourly-section {
    margin: 0px 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    overflow: auto; 
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
    padding: 15px 0;
}

.phone {
    display: none;
    position: static !important;
    width: 100% !important;
}

.small {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    filter: drop-shadow(0px 0px 2px white);
}

.weather-button {
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.weather-button:hover {
    border: 3px solid black;
    padding: 5px;
    background-color: black;
    color: white;
}

.weather-button:active {
    background-color: white;
    color: black;
}

.weather-current-content {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.weather-section {
    min-width: 16.67%;
    height: 100%;
}

.weather-section-content {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 10px white;
    color: black;
    border: 5px solid black;
    height: 100%;
    padding: 10px;
}

.weather-section-content p {
    padding: 0;
    margin: 0;
}

.weather-section-current-back {
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-shadow: inset 0 0 10px white;
}

.weather-section-current-front {
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    box-shadow: 0 0 5px black;
    border: 3px solid black;
    width: 100%;
}

.weather-title {
    width: 100%;
    font-size: 1.7em;
    margin: 0;
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    filter: drop-shadow(0px 0px 2px black);
}

.window {
    width: 100%;
    flex-direction: column;
}

.window-title {
    font-size: 6em;
    filter: drop-shadow(0 0 10px white);
    opacity: 0.6;
}

.window-glas {
    border: 5px solid black;
    border-bottom: 0;
    height: 100%;
    width: 50%;
    box-shadow: inset 0 0 10px white;
    background-color: rgba(255, 255, 255, 0.1);
}

.window-left {
    position: absolute;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 50%;
    transition: left 1s linear;
}

.window-left-info {
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-size: x-large;
    filter: drop-shadow(0 0 5px white);
    opacity: 0.6;
}

.window-right {
    position: absolute;
    right: 0;
    width: 50%;
    transition: right 1s linear;
}

.window-top {
    position: relative;
    top: 0;
    border: 5px solid black;
    border-bottom: 0;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1024px) {
    #forecast {
        height: 100svh;
        flex-direction: column;
    }

    .window-top {
        display: none;
    }

    .weather-section {
        min-width: 33.33%
    }

    .open {
        display: none;
    }

    .phone {
        display: block;
    }
}

@media (max-width: 720px) {
    #cities-input {
        width: 100%;
        margin-left: 0;
        margin-bottom: 20px;
    }
}